@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .imgBx {
    position: relative;
    width: 50%;
    height: 100%;
    background-image: url(.././img/bg.jpg);
    -webkit-background-size: cover;
    background-position: center center;
}

section .imgBx:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #e91e63, #03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}

section .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:  cover;
    /*background-size: 100% 100%;*/
}

section .contentBx {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(245, 221, 177, 0.2);
}

section .contentBx .formBx {
    width: 50%;    
}

section .contentBx .formBx h2 {
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5emn;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}

section .contentBx .formBx .inputBx {
    margin-bottom: 20px;
}

section .contentBx .formBx .inputBx span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607db8;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

section .contentBx .formBx .inputBx input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    letter-spacing: 1px;
    color: #607db8;
    background: transparent;
    border-radius: 10px;
}

section .contentBx .formBx .inputBx input[type="submit"] {
    background: linear-gradient(225deg, #e91e63, #03a9f4);
    color: #fff;
    outline: none; 
    border: none;
    font-weight: 500;
    cursor: pointer;
    height: 50px;
    transition: 0.5s;
}

section .contentBx .formBx .inputBx input[type="submit"]:hover {
    background: linear-gradient(200deg, #e91e63, #03a9f4);    
}

section .contentBx .formBx .remember {
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}

section .contentBx .formBx .inputBx p {
    color: #607d8b;
}

section .contentBx .formBx .inputBx p a {
    color: #ff4584;
    text-decoration: none;
}

section .contentBx .formBx h3 {
    color: #607d8b;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}

section .contentBx .formBx .sci {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .contentBx .formBx .sci li {
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0584be;
    color: #fff;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
    margin-top: 20px;
}

section .contentBx .formBx .sci li:hover {
    background: #ff4584;
}

section .contentBx .formBx .sci li img {
    transform: scale(0.5);
    filter: invert(1);
}

@media (max-width: 767px) {
    section {
        height: 100%;
    }
    
    section .imgBx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(.././img/bg2.jpg);
    }

    section .contentBx {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: none;
    }

    section .contentBx .formBx {
        width: 100%;
        padding: 40px;
        background: rgb(255 255 255 / 0.5);
        margin: 50px;
    }

    section .contentBx .formBx h3 {
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
}


/*
.div-section {        
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}
*/